<main>
<br>
<br>
<!-- Profile Card -->
<div class="container">
  <div class="row">
    <section class="col s3" id="profileCard">
      <div class="card" id="profile">
        <div>
          <h4 class="card-title">{{user.dataValues.name}}'s Profile</h4>
        </div>
        <div class="card-image">
          <img src="./assets/images/team2.jpg">
        </div>
        <div class="card-content">
          <p>
            <strong>Address</strong>
            <br> {{user.dataValues.Address}} 
            <br> {{user.dataValues.city}}, {{user.dataValues.state}} {{user.dataValues.zipCode}}
          </p>
        </div>
        <div class="card-action">
          <a href="#">Change Address</a>
        </div>
      </div>

      <!--SUBMIT BUTTON======================================================-->
      <button id="reportCrime" class="btn waves-effect waves-light blue-grey" type="submit" name="action">
        Report Crime
      </button>

            <!--SUBMIT BUTTON======================================================-->
      <button id="searchCrime" class="btn waves-effect waves-light blue-grey" type="submit" name="action">
        Crime Map
      </button>
    </section>
    <section class="col s9" id="resultsTable">
      <div id="crimeRate" class='mytable'>
        <div class="crimeTableHead">
          <h4 class="crimeHeader" style="text-align:center;">Crime Rate</h4>
        </div>
        <div class="crimeTableBody">
          <table class="responsive-table highlight">
            <thead>
              <tr>
                <th>Crime</th>
                <th>Location</th>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
                <th>UpVotes</th>
                <th>DownVotes</th>
              </tr>
            </thead>
            {{!-- <tr>
              <td>Aggrevated Anger</td>
              <td>10694 Jones Rd</td>
              <td>Threw Computers out Window bc Project 2</td>
              <td>1/25/2018</td>
              <td>11:59 PM</td>
              <td>6 <button class="btn-floating red waves-effect"><i class="material-icons votes">arrow_upward</i></button></td>
              <td>0 <button class="btn-floating red waves-effect"><i class="material-icons votes">arrow_downward</i></button></td>
            </tr> --}}
            {{#each post}}
            <tr>
              <td> {{IncidentType}} </td>
              <td> {{address}}, {{city}}, {{state}} {{zipCode}}  </td>
              <td> {{IncidentDescription}} </td>
              <td> {{IncidentDate}} </td>
              <td> {{IncidentTime}} </td>
              <td> {{upVote}} <button class="btn-floating red waves-effect"><i class="material-icons votes">arrow_upward</i></button></td>
              <td> {{downVote}} <button class="btn-floating red waves-effect"><i class="material-icons votes">arrow_downward</i></button></td>
            </tr>
             {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <br>
      <br>
    </section>
  </div>
</div>

</div>
</main>
<!-- FOOTER SECTION =======-->
<footer class="page-footer lime">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Helping you find the right neighborhood.</h5>
        <p class="grey-text text-lighten-4">Vicinity is committed to providing the most up to date and accurate information about your current or future neighborhood.
          We provide search tools that will help you make the right choice such as: Emergency response.
          <br> Crime rate.
          <br> Nearby sex offenders.
          <br>
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Developers</h5>
        <ul>
          <li>
            <a class="blue-grey-darken-3-text" href="#!">Xavier Oberti</a>
          </li>
          <li>
            <a class="blue-grey-darken-3-text" href="#!">Victor Montemayor</a>
          </li>
          <li>
            <a class="blue-grey-darken-3-text" href="#!">Steven Aruba</a>
          </li>
          <li>
            <a class="blue-grey-darken-3-text" href="#!">Peter Le</a>
          </li>
          <li>
            <a class="blue-grey-darken-3-text" href="#!">David Bierma</a>
          </li>
          <li>
            <a class="blue-grey-darken-3-text" href="#!">David Morales</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      © 2018 Copyright Text
    </div>
  </div>
</footer>