<main>
<br>
<br>
<!-- Profile Card -->
<div class="container">
  <div class="row">
    <section class="col s3">
      <div class="card" id="profile">
        <div>
          <h3 class="card-title">My Profile</h3>
        </div>
        <div class="card-image">
          <img src="images/team2.jpg">
        </div>
        <div class="card-content">
          <p>
            Street Address: {{streetAddress}}
            <br> City: {{city}}
            <br> State: {{state}}
            <br> Zips: {{zip}}
            <br>
          </p>
        </div>
        <div class="card-action">
          <a href="#">Change Address</a>
        </div>
      </div>

      <!--SUBMIT BUTTON======================================================-->
      <button id="reportCrime" class="btn waves-effect waves-light blue-grey" type="submit" name="action">
        Report Crime
      </button>

            <!--SUBMIT BUTTON======================================================-->
      <button id="searchCrime" class="btn waves-effect waves-light blue-grey" type="submit" name="action">
        Search An Area for Crime
      </button>

    </section>
    <section class="col s8 offset-s1" id="resultsTable">
      <div id="crimeRate" class='mytable'>
        <div class="crimeTableHead">
          <h5 class="crimeHeader" style="text-align:center;">Crime Rate</h5>
        </div>
        <div class="crimeTableBody">
          <table class="responsive-table highlight">
            <thead>
              <tr>
                <th>Crime</th>
                <th>Location</th>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
              </tr>
            </thead>
            <tr>
              <td>Assault</td>
              <td>10694 Jones Rd</td>
              <td>Threw Computers out Window bc Project 2</td>
              <td>1/25/2018</td>
              <td>11:59 PM</td>
            </tr>
            {{!-- {{#each crime}} {{#if zipCode === zipCode}}
            <tr>
              <td>{{Type}}</td>
              <td>{{Address}}</td>
              <td>{{Date}}</td>
              <td>{{Description}}</td>
              <td>{{Time}}</td>
            </tr>
            {{/if}} {{/each}} --}}
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <br>
      <br>
    </section>
  </div>
</div>

</div>
</main>
<!-- FOOTER SECTION =======-->
<footer class="page-footer lime">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Helping you find the right neighborhood.</h5>
        <p class="grey-text text-lighten-4">Vicinity is committed to providing the most up to date and accurate information about your current or future neighborhood.
          We provide search tools that will help you make the right choice such as: Emergency response.
          <br> Crime rate.
          <br> Nearby sex offenders.
          <br>
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Developers</h5>
        <ul>
          <li>
            <a class="blue-grey-darken-3-text" href="#!">Xavier Oberti</a>
          </li>
          <li>
            <a class="blue-grey-darken-3-text" href="#!">Victor Montemayor</a>
          </li>
          <li>
            <a class="blue-grey-darken-3-text" href="#!">Steven Aruba</a>
          </li>
          <li>
            <a class="blue-grey-darken-3-text" href="#!">Peter Le</a>
          </li>
          <li>
            <a class="blue-grey-darken-3-text" href="#!">David Bierma</a>
          </li>
          <li>
            <a class="blue-grey-darken-3-text" href="#!">David Morales</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      © 2018 Copyright Text
    </div>
  </div>
</footer>
